@font-face
  font-family: 'Roboto'
  src: url('fonts/Roboto-Regular.ttf')

@font-face
  font-family: 'Roboto'
  src: url('fonts/Roboto-Bold.ttf')
  font-weight: bold

@font-face
  font-family: 'Roboto'
  src: url('fonts/Roboto-Italic.ttf')
  font-style: italic, oblique

@font-face
  font-family: 'Roboto'
  src: url('fonts/Roboto-BoldItalic.ttf')
  font-weight: bold
  font-style: italic, oblique

@font-face
  font-family: 'Quicksand'
  src: url('fonts/Quicksand-Regular.ttf')

@font-face
  font-family: 'Quicksand'
  src: url('fonts/Quicksand-Bold.ttf')
  font-weight: bold
  
@font-face
  font-family: 'Quicksand'
  src: url('fonts/Quicksand-Light.ttf')
  font-weight: lighter
